*~
*.gz
*.bz2
*.xz
*.tar
.*.swp
*.orig
*.rej
\#*#
.#*
.vscode
.vs

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.lammps_history
log.lammps
log.cite

/.current-branch
/publish.sh
/html
/epub
/latex
/spelling
/*.epub
/*.mobi
/*.pdf
/doctrees
/docenv
*.el
/sphinx-config/_static/mathjax
/utils/LAMMPS_Documentation_Utilities.egg-info
