*~
*.gz
*.bz2
*.xz
*.tar
.*.swp
*.orig
*.rej
\#*#
.#*
.vscode
.vs

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.lammps_history
log.lammps
log.cite

/html
/epub
/latex
/spelling
/*.epub
/*.mobi
/*.pdf
/doctrees
/docenv
/utils/sphinx-config/conf.py
*.el
/utils/sphinx-config/_static/mathjax
/utils/sphinx-config/_static/polyfill.js
